.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .register-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .registration {
    display: flex;
    flex-direction: column;
  }
  
  .login {
    display: flex;
    flex-direction: column;
  }
  
  .information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .information input {
    width: 300px;
    height: 50px;
    font-size: 18px;
    padding-left: 10px;
    margin: 5px;
  }
  
  .information button {
    width: 320px;
    height: 50px;
    margin-top: 15px;
  }
  
  .information button:hover {
    cursor: pointer;
  }
  
  .boards {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  
  .board {
    width: 700px;
    height: auto;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .board h3 {
    margin: 20px;
  
  }